/* ==========================
   Vista de producto
========================== */
.vista-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    background: #111;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Imagen */
.producto-imagen {
    flex: 1 1 400px;
    position: relative;
    
}

.producto-imagen img {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.descuento {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #444; /* Changed to a darker tone */
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

/* Info del producto */
.producto-info {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto-info h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.precio-anterior {
    text-decoration: line-through;
    color: gray;
    font-size: 0.9rem;
}

.precio {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin: 5px 0;
}

.transferencia,
.cuotas {
    font-size: 0.9rem;
    color: #ccc;
    margin: 3px 0;
}

/* Botones */
.acciones {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.btn-comprar,
.btn-carrito {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-comprar {
    background: #222;
    color: #fff;
}

.btn-comprar:hover {
    background: #444;
    color: #fff;
}

.btn-carrito {
    background: #222;
    color: #fff;
}

.btn-carrito:hover {
    background: #444;
}

/* ==========================
   Responsive
========================== */
@media (max-width: 768px) {
    .vista-producto {
        flex-direction: column;
        padding: 15px;
        max-width: auto;
    }

    .producto-info h1 {
        font-size: 1.3rem;
    }

    .acciones {
        flex-direction: column;
    }
}
